body {
	background-color: #f9fafc;
}
.container{
	height: 100vh;
	background-color: #f9fafc;
}

#loginWindow {
	margin-top: 40vh;
	width: 300px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}
#loginWindow button {
	margin-top: 10px;
}
#loginWindow h3 {
	text-transform: uppercase;
}

#chatWindow {
	margin-top: 5vh;
}
#left {
	width: 30%;
	height: 80vh;
	float: left;
	overflow: auto;
	
	background-color: #13366d;
	color: white;
}

#right {
	width: 70%;
	height: 80vh;
	float: right;
	border: 1px solid #f2f7ff;
	border-left: none;
	background-color: #eff1f4;
}

#chatOutput {
	height: 60vh;
	border: 1px solid #eff1f4;
	margin: 10px;
	background-color: white;
	overflow: auto;
}

#chatTypingInput {
	margin-left: 10px;
	margin-right: 10px;
}

#logoutSection {
	margin-left: 10px;
	margin-right: 10px;
}

#logoutBtn {
	margin-top: 20px;	
}

#chatOutputTxt {
	padding-left: 10px;
}

#feedback {
	padding-left: 10px;
	color: #6d97a3;
}
